@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1a1c1e ;
    background-color: #2A2C2E;
    z-index: 99;
    padding: 0 20px;
}

 .contenedor-header header {
     max-width: 1100px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     c 


 }


